@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Merriweather:wght@300;400&family=Montserrat:wght@100;400&family=Nova+Round&family=Playfair+Display:ital@0;1&family=Sora&display=swap');

/* DOCUMENT MODIFIERS*/
:root {
  --primary-color: #6B1848;
  --secondary-color: #8AA8A9;
  --tertiary-color: #9E728C;
  --secondary-shadow: #efeded;
  --tan: #E1C6A1;
  --russian-violet: #290438ff;
  --languid-lavender: #e3d8f1ff;
  --cyber-grape: #594573;
  --cyber-grape-contrast: #D3F0FF;
  --contrast-blue: #435E6A;
  margin: 0;
  padding:0;
  font-family: 'Sora', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  box-sizing: border-box;
  
  --transition-duration: .5s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;
  
}

html, body {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 24pt;
}
img {
  width: 100%;
}

main {
  padding: 0;
  margin-top: 85px;
}

section {
  align-items:center;
  margin-bottom: 80px;
}

.sectionTitle {
  text-align: center;
}

.section-purple {
  background-color: #290438;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-pink {
  display: flex;
  justify-content: center;
}

/* DOCUMENT MODIFIERS END */

/** COLUMNS **/
.row {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.column {
  flex-basis: 50%;
}

.box {
  padding: 2rem;
  background-color: var(--secondary-shadow);
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 30px;
  overflow: auto;
}

.goalsBox {
  padding: 2rem;
  background-color: var(--secondary-shadow);
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
}

/** COLUMNS END**/



/* NAVIGATION */

header {
  padding: 1rem;
  margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}


  nav li {
    font-size: 16pt;
    font-weight: 800;
    display: block;
  }

  nav li:first-child {
    margin-right: auto;
  }

nav a {
  color: black;
  text-decoration: none;
  transition: .3s;
  display: block;
  cursor: pointer;
}

nav a:hover {
  color:var(--tertiary-color);
}
  
  nav img {
    width: 50px;
  }

  /* nav [class*= "fa-"] {
    color: var(--primary-color);
  } */

  .button {
    background-color: #6B1848;
    color: white;
    padding: .5rem;
    border-radius: 5px;

    transition: all var(--transition-duration) var(--transition-easing);
    will-change: transform;
  }
  
  .button:hover {
    background-color: black;
    color: white;
    opacity: .5;
    transform: scale(2);
  }
 
/* NAVIGATION END */

/* -------   Hero  ------- */
#intro {
  padding: 4rem 2rem 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  
}
#intro h1 {
  font-size: 30pt;
}

#intro ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 1rem;
  margin: 0;
}

#intro .social {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
}

.intro-image {
    width: 200px;
    height: 200px; 
    margin-left: auto;
    margin-right:auto;
    display: block;
    padding-bottom: 10px; 
    justify-content: center;
}

/* ------   Hero End   ------- */


/* ------ About Me ------- */
#about-me {
  padding: 2rem 4rem 2rem 4rem;
 
}

#about-me a {
  text-decoration: none;
}

.download-button {
  padding: 12px 20px;
  margin-left: auto;
  margin-right:auto;
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 9px;
  border: 2px solid black;
  transition: all var(--transition-duration) var(--transition-easing);
  background-color: white;
 
}
.download-button:hover {
  background-color: black;
    color: white;
    transform: scale(1.2);
}

#progress {
  animation: slide-up 4s var(--transition-easing);
}

.progress-background {
  background-color: var(--secondary-shadow);
  width: 80%;
  border-radius: 15px;
  animation: fadeInAnimation ease 3s;
 
} 

.progress-bar {
  background-color: var(--primary-color);
  height: 15px;
  color: white;
  text-align: right;
  font-size:8.5pt;
  border-radius: 15px;
 align-items: center;
}

.html {
  width: 95%;
}
.css {
  width: 95%;
}
.javascript {
  width: 60%;
}

/* ------ About Me End ------- */

/* ------ Projects ------- */

#projects {
  padding: 2rem 4rem 4rem 4rem
}

#projects h1 {
  font-size: 2.5rem;
  margin-bottom: calc(.5rem * 1.5);
}

#projects h4 {
  margin: 0;
  font-size: 1.25rem;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: .9rem;
  font-family: 'Sora', sans-serif;
}

#projects img {
  width: 60%;
  margin: 2rem 0 4rem o; 
  border-left: 1px solid #9E728C;
  border-top: 1px solid #9E728C;
  border-radius: 25px;
  padding: 1rem;
}

.black-box {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* ------ Projects End ------- */

  #goals{
    align-items: center;
    justify-content: center;
    justify-items: center;
    
  }
  

  /** Contact Me **/
  #contact-me {
    text-align: center;
  }

  #contact-me button {
    animation: slide-up;
  }

  /** Contact Me End **/


  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .gradient {
    height: 2px;
    background: linear-gradient(90deg, rgba(158,114,140,1) 0%, rgba(41,4,56,1) 100%);
    text-align: center;
  }
  
  footer {
    background-color: var(white);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }
  

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shake {
  from , to{
    transform: none;
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10%);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10%);
  }
}

/** Media Queries**/

@media (min-width: 550px) {
  nav ul {
    justify-content: center;
    gap: 1.2em; /* scales with text size*/
}

nav li {
    flex-basis: auto;
    margin-bottom: 0;
}

nav a {
    background-color: transparent;
}
  
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column: 1/9;
    grid-row: 1/2;
  }

  .text{
    grid-column: 5/11;
    order: 2;
    text-align: right;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
    justify-content: right;
    width: 95%;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  .column {
    flex-basis: 100%;  }
  .box {
    margin: 0;
  }

}

@media (min-width: 800px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul {
    flex-basis: auto;
    margin: 0 auto;
    margin-left: auto;
    order: 2;
  }
  
  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
    margin-left: auto;
    order: 2;
  }

  nav li:nth-child(2),
  nav li:nth-child(3) {
      order: 1;
  }
  
  nav li:nth-child(4),
  nav li:nth-child(5) {
      order: 3;
  }
}
/** Grid can overlap items **/