@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Merriweather:wght@300;400&family=Montserrat:wght@100;400&family=Nova+Round&family=Playfair+Display:ital@0;1&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif&family=Roboto:wght@400;500&display=swap');

:root {
  --primary-color: #6B1848;
  --secondary-color: #8AA8A9;
  --tertiary-color: #9E728C;
  --secondary-shadow: #efeded;
  --tan: #E1C6A1;
  --russian-violet: #290438ff;
  --languid-lavender: #e3d8f1ff;
  --cyber-grape: #594573;
  --cyber-grape-contrast: #D3F0FF;
  --contrast-blue: #435E6A;
  margin: 0;
  padding:0;
  font-family: 'PT Serif', serif;
  
  scroll-behavior: smooth;
  background-color: #F1F1EB;
  box-sizing: border-box;
  
  --transition-duration: .5s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;
  
}
html, body, main {
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
  position: relative;
}

h1, button {
  font-family: 'Gloock', serif;
}

h3 {
  font-size: 25pt;
  margin: 0;
}

img {
  width: 100%;
}

main {
  display: flex;
  flex-flow: column;
  gap:3rem;
}

article {
  display: flex;
  flex-flow: column wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}

a {
  color: black;
  text-decoration: none;
  transition: .3s;
  display: block;
  cursor: pointer;

  &:hover {
    color:#6B1848;
  }
}

button {
  color:white;
  padding: 10px;
  font-size: 14pt;
  margin-top: 1rem;
  display: block;
  text-align: center;
  border: none;
  border-radius: 9px;
  transition: all var(--transition-duration) var(--transition-easing);
  background-color: var(--primary-color);
  
  &:hover {
    color: white;
    transform: scale(1.2);
  }
}

.resume {
  background-color: #6B1848;
  color: white;
  padding: .5rem;
  border-radius: 5px;

  transition: all var(--transition-duration) var(--transition-easing);
  will-change: transform;

  &:hover {
    color: white;
    transform: scale(1.2);
  }
}

.article-title {
  font-size: 30pt;
  margin: 0;
  padding-bottom: 1rem;
}

.tab {
  margin-left: 30px;
}

.full-width{
  min-height: 100vh;
}

.row {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;

  .column {
    flex-basis: 50%;
  }
}

.box {
  padding: 2rem;
  background-color: black;
  color:white;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 30px;
  overflow: auto;
}

/* NAVIGATION */
header {
  padding: 1rem;
  margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    li {
      font-size: 16pt;
      font-weight: 800;
      display: block;
    }

    li:first-child {
      margin-right: auto;
    }

    img {
      width: 90px;
    }
    
}
/* NAVIGATION END */

/* -------   Hero  ------- */
#intro {
  max-width: 1200px;
  justify-content: center;

  h1 {
    font-size: 60pt;
    margin: 0;
    padding: 0;
  }
  
  .position {
    font-size: 20pt;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 12pt;
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 1rem;
    margin: 0;
  }

  .social {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
  }

}

#about-me {

    img {
      max-width: 400px;
    }
  .column .info {
    text-align: center;
  }
}
/* ------   Hero End   ------- */


/* ------ About Me ------- */
#progress {
  animation: slide-up 4s var(--transition-easing);
}

.progress-background {
  background-color: var(--secondary-shadow);
  width: 80%;
  border-radius: 15px;
  animation: fadeInAnimation ease 3s;
 
} 

.progress-bar {
  background-color: var(--primary-color);
  height: 15px;
  color: white;
  text-align: right;
  font-size:8.5pt;
  border-radius: 15px;
 align-items: center;
}

.ninety {
  width: 95%;
}

.sixty {
  width: 60%;
}

/* ------ About Me End ------- */

/* ------ Projects ------- */

#projects{

  h5 {
    margin: 0;
    font-size: 1.25rem;
  }

  h4 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: .9rem;
    font-family: 'Sora', sans-serif;
  }

  img {
    width: 60%;
    margin: 2rem 0 4rem o; 
    border-left: 1px solid #6B1848;
    border-top: 1px solid #6B1848;
    border-radius: 25px;
    padding: 1rem;
  }

  .details-box {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
}


/* ------ Projects End ------- */

#goals {
  list-style-type: none;

  h3 {
    padding-bottom: 0;
  }
  a {
    color: black;
  }

 li::marker {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="30" height="20" fill="rgb(107, 24, 72)"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
  }
  
  .done li::marker {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="30" height="20" fill="black"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
  }
}
  
footer {
  background-color: var(white);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
  
/** Media Queries**/

@media (min-width: 550px) {
  
  nav ul {
    justify-content: center;
    gap: 1.2em; /* scales with text size*/
  }

  nav li {
      flex-basis: auto;
      margin-bottom: 0;
  }

  nav a {
      background-color: transparent;
  }

  section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column: 1/9;
    grid-row: 1/2;
  }

  .text{
    grid-column: 5/11;
    order: 2;
    text-align: right;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
    justify-content: right;
    width: 95%;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}


@media (min-width: 800px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul {
    flex-basis: auto;
    margin: 0 auto;
    margin-left: auto;
    order: 2;
  }
  
  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
    margin-left: auto;
    order: 2;
  }

  nav li:nth-child(2),
  nav li:nth-child(3) {
      order: 1;
  }
  
  nav li:nth-child(4),
  nav li:nth-child(5),
  nav li:nth-child(6) {
      order: 3;
  }
}
/** Grid can overlap items **/